h1{
color: rgb(174, 25, 174) ;
}
h3{
    color: deeppink;
}
body{
    background-color: rgb(0, 255, 119);
}
  h2{
            color: rgb(123, 0, 255);
        }
   .special{
    color: black;
   }     
h3+p{
    color: coral;
}
em+p{
    color: magenta;
}
